body {
  overflow: hidden;
  background: white url("../img/scenery.png") no-repeat fixed bottom center;
}

.player {
  clear: both;
  margin-top: 50px;
  position: absolute;
}

.player > div {
  font-size: 26px;
  font-weight: bold;
}

.player .graph span {
  display: block;
  width: 100%;
  height: 24px;
  background: #04B410;
  margin-top: -2px;
}

.player .score {
  text-align: right;
}

#countdown {
  text-align: center;
  padding: 1em;
  font-size: 130%;
}

