
%p
  .panel.panel-default
    .panel-heading
      %h3.panel-title Game controll
    .panel-body
      - if running
        %form
          %button{:type=>"button", :class=>"btn btn-lg btn-default"} Start

        %form{:action => "/admin/stop", :method => "post"}
          %input{:class=>"btn btn-lg btn-danger", :type=>"submit", :value=>"Pause"}
      
        %form{:action => "/admin/archive", :method => "post"}
          %input{:class=>"btn btn-lg btn-danger", :type=>"submit", :value=>"Stop & archive"}
   
      - else
        %form{:action => "/admin/start", :method => "post"}
          %input{:class=>"btn btn-lg btn-success", :type=>"submit", :value=>"Start"}
   
        %form   
          %button{:type=>"button", :class=>"btn btn-lg btn-default"} Pause
 
        %form
          %button{:type=>"button", :class=>"btn btn-lg btn-default"} Stop & archive