%html
  %head
    %meta{:charset=>"utf-8"}
    %title Bughunting - results
    %link{:href=>"/css/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href=>"/css/scoreboard.css", :rel=>"stylesheet"}
    %script{:src=>"/js/jquery.min.js"}
    %script{:src=>"/js/scoreboard.js"}
  
  %body
    .countdown
    .container#players